
<html lang="en"><head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Login - sPYtroscopy</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static "css/login.css" %}" >
</head>

<body class="text-center">
  <form class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>    
    {% csrf_token %}
    {% load widget_tweaks %}
    {% render_field form.username class+="form-control" placeholder+="Username" %}
    {% render_field form.password class+="form-control" placeholder+="Password" %}
    <div class='small bg-warning'>
    {% for key, value in form.errors.items %}
    <ul style="padding: 10px">
    {% if key != '__all__'  or  '' %}{% endif %}{{ value|striptags|linebreaksbr }}
    </ul>
    {% endfor %}
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">©Jerzy Jurkowski 2018</p>
  </form>


</body></html>