{% extends "base.html" %}

{% block title %}Channels{% endblock %}

{% block heading %}<h1>Channels</h1>{% endblock %}

{% block content %}

<form class="form text-center" method="POST" action="./channels" id="myForm">
    {% csrf_token %}
    {% load widget_tweaks %}
    {{ channels.management_form }}
    <h5>Channel Matrix</h5>

    {{ channel_matrix|safe }}
    <div class="row-spacer">
    <br>
        <div class="">{{ globals.as_ul }}</div>
    </div>

    {% for channel in channels %}
        <div class="modal" tabindex="-1" role="dialog" id="ch-{{ channel.prefix }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Channel {{ forloop.counter }} configuration</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ channel.as_ul }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}

    {% for perturbation in perturbations %}
    <div class="modal" tabindex="-1" role="dialog" id="p-{{ perturbation.prefix }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content col align-self-center">
                <div class="modal-header">
                    <h5 class="modal-title">Perturbation {{ forloop.counter }}:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <h5>(-1/2*mᵣx²) * (a₄x⁴ + a₃x³ + a₂x² + a₁x + a₀) * (J * (J+1))¹⸍²</h5>
                    {{ perturbation.as_ul }}
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}      

<div class="row spacer">
    <div class="col">
        <button type="submit" class="btn btn-block btn-primary btn-block">Next</button>
    </div>
</div>

</form>



{% endblock %}