{% extends "base.html" %}

{% block title %}Files{% endblock %}

{% block heading %}<h1>Files</h1>{% endblock %}

{% block content %}

   <table class="table table-striped table-sm">
        <thead><tr>
            <th>Name</th>
            <th>Uploaded at</th>
            <th>Delimiter</th>
            <th>Delete</th>
        </tr></thead>
        <tbody>
        {% for file in files %}
        {% load dictkey %}
        <tr>
            <td><a href="{{ file.get_absolute_url }}"> {{ file.user_file.name }} </a></td>
            <td>{{ file.timestamp }}</td>
            <td>
            {% if file.delimiter|escapejs == "\t" %}
            \t
            {% else %}
            
            {% endif %}
            </td>
            <td>
                <a href="./delete-{{ file.id }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row-spacer">
        <a class="btn btn-large btn-info" href="/compute/uploadfile">Upload files</a>
    </div>
{% endblock %}