{% extends "base.html" %}

{% block title %}{{ file.user_file.name }}{% endblock %}

{% block heading %}<h1>{{ file.user_file.name }}</h1>{% endblock %}

{% block content %}
    {% load dictkey %}
    <a class="col btn btn-danger" href="compute/files/delete-{{ file.id }} ">Delete File</a>
    {% autoescape off %}
    <table class="table table-striped">
        {% for line in file_content %}
            <tr>
                {% for value in line %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}    
    {% endautoescape %}
    </table>
{% endblock %}