{% extends "base.html" %}

{% block title %}J = {{ J_result.J }} Results {% endblock %}

{% block heading %}<h1>Results for {{ Parent.name }}; J = {{ J_result.J }} </h1>{% endblock %}

{% block content %}

    <a class="col btn btn-primary" href={{ Parent.get_absolute_url }}>Back to result</a>
    <div id="plot-container">{{ J_result.plot_div | safe }}</div>
    <div id="dataframe">{{ dataframe | safe }}</div>

{% endblock %}

{% block tail_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.3/bokeh.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.3/bokeh-widgets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.3/bokeh-tables.min.js"></script>
    {% for something in plot_script %}{{ something | safe }}{% endfor %}
    <script> 
    document.addEventListener("webkitfullscreenchange mozfullscreenchange fullscreenchange", function() {
        var height = $(".bk-plot-layout").css("height");
        $("#dataframe").css("margin-top", height);
    });
    $(window).resize(function () {
        var height = $(".bk-plot-layout").css("height");
        $("#dataframe").css("margin-top", height);
    });
    
    $(document).ready(function () {
            var height = $(".bk-plot-layout").css("height");
            $("#dataframe").css("margin-top", height);
    });
    </script>
{% endblock %}