{% extends "base.html" %}

{% block title %}Elements{% endblock %}

{% block heading %}<h1>Choose 2 elements to be used in computation</h1>{% endblock %}

{% block content %}

    <h3>Chosen isotopes:</h3>
    
    <div class="card-deck" id="chosen-cards">
        
    </div>
    <div class="col form-group">
            <input class="input-group-btn" style="width: 100%; background-color: whitesmoke;" type="text" id="query-string" onkeyup="setDisplayNone()" placeholder="Search here and choose below by clicking on an isotope:">
    </div>
    

    <table class="table table-striped table-sm table-responsive col" id="hide-table-root">
        <thead><tr>
            <th style="width: 3%">#</th>
            <th style="width: 7%">Symbol</th>
            <th style="width: 7%">Name</th>
            <th style="width: 60%">Isotopes</th>
            <th style="width: 7%">Link</th>
        </tr></thead>
        <tbody>
        {% for element in elements %}
        {% load dictkey %}
        <tr id="{% keyvalue_2 elements element "name" %}">
            <td class="lp">{{ element }}</td>
            <td class="symbol">{% keyvalue_2 elements element "symbol" %}</td>
            <td class="name">{% keyvalue_2 elements element "name" %}</td>
            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;" class="isotopes">{% keyvalue_2 elements element "isotopes" as isotopes %}{% for isotope in isotopes %}<a class="isotope" onClick=addToChosen(this)>{% keyvalue isotopes isotope %}</a>&ensp;{% endfor %}</td>
            <td><a href="{% keyvalue_2 elements element "url" %}"><i class="fas fa-link"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>

        loadFromSession();

        function setDisplayNone() {
            // Declare variables 
            var input, filter, table, tr, td, i, j, k;
            input = document.getElementById("query-string");
            filter = input.value.toString();
            filter = filter.toUpperCase();
            table = document.getElementById("hide-table-root");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length - 1; j++)
                    if (j==3){
                        isotopes = td[j].getElementsByTagName("span");
                        for (k = 0; k < isotopes.length; k++){
                            if(isotopes[k].innerHTML.toUpperCase().includes(filter)){
                                tr[i].removeAttribute("style");
                                break;
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }else if (td[j].innerHTML.length > 0) {
                        if (td[j].innerHTML.toUpperCase().includes(filter)) {
                            tr[i].removeAttribute("style");
                            break;
                        } else {
                            tr[i].style.display = "none";
                    }
                } 
            }
        }
        function addToChosen(caller) {
            var session_list =  JSON.parse(sessionStorage.getItem("isotopes"));
            if (session_list){
                if (session_list.length > 1){
                    alert("Two isotopes have been chosen already")
                    return;
                }
            }         
            var element, name, number, symbol, isotope, table, table_row, num_of_chosen ;
            element = caller.parentElement.parentElement;
            name = element.id;
            number = element.getElementsByClassName("lp")[0].innerHTML;
            symbol = element.getElementsByClassName("symbol")[0].innerHTML;
            isotope = caller.innerHTML;
            var element_dict = {
                "number": number,
                "name": name,
                "symbol": symbol,
                "isotope": isotope.replace(/\([\s\S]*?\)/g,"")
            };
            if ( session_list ){
                for ( var i = 0; i < session_list.length; i++ ) {
                    if ( isotope === session_list[i].isotope){       
                        return;
                    }
                }
            }else{
                session_list=[];
            }
            counter = session_list.length ;
            session_list.push( element_dict );
            sessionStorage.setItem("isotopes" , JSON.stringify(session_list));
            renderIcon(element_dict);  
        }

        function loadFromSession(){
            var session_list =  JSON.parse(sessionStorage.getItem("isotopes"));
            for (var i = 0; i < session_list.length; i++){
                renderIcon(session_list[i]);
            }  
        }

        function renderIcon(element_dict){
            var card_deck= document.getElementById("chosen-cards");
            var card = document.createElement("div");
            card.setAttribute("class", "card text-white bg-dark mb-3 text-center");
            card.setAttribute("style", "max-width: 18rem;");
            card.setAttribute("id", element_dict['isotope'])
            card.innerHTML = '<div class="card-header">' + element_dict['name'] + '</div>\n' + 
                                '<div class="card-body ">\n' +
                                '<h5 class="card-title"> <sub>' + Math.round(element_dict['isotope']) + '</sub>' + element_dict['symbol'] + '</h5>\n' +
                                '<p class="card-text">Isotope mass: '  + element_dict['isotope']  +  '</p>' + 
                                '<p><button class="btn" onClick=removeFromChosen(this)>Remove</button></p>\n' +
                                '</div>'
            card_deck.appendChild(card);
            var session_list =  JSON.parse(sessionStorage.getItem("isotopes"));
            if (document.getElementsByClassName("card").length == 2){
                renderNextButton();
            }

        }

        function removeFromChosen(caller){
            var card_index;;
            var card_element = caller.parentElement.parentElement.parentElement;
            var session_list =  JSON.parse(sessionStorage.getItem("isotopes"));
            var id = card_element.id;
            for( var i = 0 ; i < session_list.length ; i++){
                if( id === session_list[i].isotope ){
                    card_index = i;
                }
            }
            card_element.parentElement.removeChild(card_element);
            if(session_list.length == 2){
                removeNextButton();
            }
            session_list.splice(card_index,1);
            sessionStorage.setItem("isotopes" , JSON.stringify(session_list));
            
        }

        function renderNextButton(){
            var session_list =  JSON.parse(sessionStorage.getItem("isotopes"));      
            if (session_list.length < 2){
                return;
            }
            if (document.getElementById("go-next-button")){
                return;
            }
            var card_deck= document.getElementById("chosen-cards");
            var card = document.createElement("div");
            card.setAttribute("class", "card text-white bg-success mb-3 text-center");
            card.setAttribute("style", "max-width: 18rem;");
            card.setAttribute("id", "go-next-button")
            card.innerHTML = '<div class="card-header">OK!</div>\n' + 
                                '<div class="card-body ">\n' +
                                '<h5 class="card-title">To go next, please press the "Next" button</h5>\n' +
                                '<p class="card-text"><br/>Or change the isotopes if you want...</p>' + 
                                '<p><a href="" id="potentials-url" class="btn btn-primary">Next</a></p>\n' +
                                '</div>'
            card_deck.appendChild(card);
            insertHref()
        }
        function removeNextButton(){
            var card_deck = document.getElementById("chosen-cards");
            var next_button = document.getElementById("go-next-button");
            card_deck.removeChild(next_button);
        }

        function insertHref(){
            var url_element = document.getElementById("potentials-url")
            var session_list =  JSON.parse(sessionStorage.getItem("isotopes"));
            var output_string = "/compute/potentials/";
            for ( var i = 0; i < 2; i++ ){
                if ( ! session_list[i]['isotope'].includes('.') ) session_list[i]['isotope'] += '.0';
                output_string += session_list[i]['isotope'] + "/";
                output_string += session_list[i]['symbol'] + "/";
            }
            url_element.setAttribute("href", output_string);
        }
    </script>

{% endblock %}
