{% extends "base.html" %}

{% block title %}Potentials{% endblock %}

{% block heading %}
<h1>Configure data files for
    <sup>{{ elements.mass1|floatformat:"0" }}</sup>{{ elements.symbol1 }}<sup>{{ elements.mass2|floatformat:"0" }}</sup>{{ elements.symbol2 }}
</h1>{% endblock %}

{% block content %}

<form class="form-vertical" method="POST" action="./" id="myForm">
    {% csrf_token %}
    {% load widget_tweaks %}
    {{ formset.management_form }}
    <table class="table" id="form-table">
            <thead>
                    <tr class="text-center" >
                        <td class="align-middle">
                            <label>File:</label>      
                        </td>
                        <td class="align-middle">
                            <label>Distance Unit:</label>
                        </td>
                        <td class="align-middle" style="width: 5%;">
                            <label>Distance Column:</label>
                        </td>
                        <td class="align-middle">
                            <label>Energy Unit:</label>
                        </td>
                        <td class="align-middle" style="width: 5%;">
                            <label>Energy Column:</label>
                        </td>
                        <td class="align-middle" style="width: 1%;">
                            <label>-</label>
                        </td>
                    </tr>
            </thead>
            <tbody>
        {% for form in formset %}      
            <tr class="formrow">    
                <td>
                    <div class="form-group">
                        {% render_field form.file_selection class+="form-control" %}
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        {% render_field form.distance_unit class+="form-control" %}
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        {% render_field form.distance_column class+="form-control" %}
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        {% render_field form.energy_unit class+="form-control" %}
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        {% render_field form.energy_column class+="form-control" %}
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block del-form-row">-</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class='small bg-warning'>
    {% for form in formset %}
        {% for key, value in form.errors.items %}
        <ul style="padding: 10px">
        {% if key != '__all__'  or  '' %}{% endif %}{{ key }} {{ value|striptags|linebreaksbr }}
        </ul>
        {% endfor %}
    {% endfor%}    
    </div>
    <div class="row spacer">
        <div class="col">
            <button class="btn btn-success btn-block" id="add_more">Add another file</button>
            <button type="submit" class="btn btn-block btn-primary btn-block">Next</button>
        </div>
    </div>
    </form>

{% endblock %}



{% block tail_js %}  
<script type='text/javascript'>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex,replacement);
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.formrow').remove();
            var forms = $('.formrow');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find('input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    function cloneMore(selector, type) {       
        var newElement = $(selector).clone();
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find('input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }
     $('#add_more').click(function(event) {
        event.preventDefault();
        cloneMore('tr:last', 'form');
    });
    $(document).on('click', '.del-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });

</script>
{% endblock %}