{% extends "base.html" %}

{% block title %}{{ result_name }}{% endblock %}

{% block heading %}<h1>{{ result_name }}</h1>{% endblock %}

{% block content %}

<table class="table table-striped table-sm">
        <thead><tr>
            <!-- <th>Configuration</th> -->
            <th>J</th>
            <th>Data file</th>
        </tr></thead>
        <tbody>
        {% for result in J_results %}
        {% load dictkey %}
        <tr>
            <td> {{ result.J }}
            <td><a href="{{ result.get_absolute_url }}"> {{ result.data_file }} </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="row-spacer">
    <a class="btn btn-large btn-info" href="/compute/results">Go to results</a>
</div>


{% endblock %}