{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block heading %}<h1>Results</h1>{% endblock %}

{% block content %}

    <table class="table table-striped table-sm">
        <thead><tr>
            <!-- <th>Configuration</th> -->
            <th>Result</th>
            <th>Created at</th>
            <th>Download Zip</th>
            <th>Delete</th>
        </tr></thead>
        <tbody>
        {% for result in results %}
        {% load dictkey %}
        <tr>
            <td><a href="{{ result.get_absolute_url }}"> {{ result.name }} </a></td>
            <td>{{ result.created_at }}</td>
            <td>
                <a href="./download-{{ result.id }}" class="btn btn-primary">Download .zip</a>
            </td>
            <td>
                <a href="./delete-{{ result.id }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row-spacer">
        <a class="btn btn-large btn-info col" href="/compute">Go to compute</a>
    </div>

{% endblock %}