{% extends "base.html" %}

{% block title %}Upload files{% endblock %}

{% block heading %}<h1>Upload files</h1>{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        {{ form.errors }}
        <input type="submit" value="Upload Files">
    </form>

{% endblock %}