{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block heading %}<h1>{{ post.title }}</h1>{% endblock %}

{% block content %}
<div class="border-bottom lead">
{{ post.body| linebreaks }}
<em>Post by: {{ post.author }} uploaded at {{ post.created }}</em>
</div>    


<ul class="list-group">
{% for comment in comments %}
    <li class="list-group-item">
        <div class="comment">
            <p class="info"><em>Comment {{ forloop.counter }} added by {{ comment.user }} {{ comment.created }}</em></p>
            {{ comment.body | linebreaks }}
        </div>
    </li>
{% empty %}
    <p>No comment has been added yet.</p>
{% endfor %}
</ul>

{% if new_comment %}
    <h5>Your comment has been added</h5>
{% else %}

    <h5>Add a comment:</h5>
    <form action="." method="post">
        <div class="form-group">
            {% csrf_token %}
            {% load widget_tweaks %}

            {% render_field comment_form.body rows="3" placeholder+="Type your comment here:" class+="form-control" %}
            <p><button class="btn btn-primary col" type="submit">Submit</button></p>
        </div>
    </form>
{% endif %}
{% endblock %}