{% extends "base.html" %}

{% block title %}Recent posts{% endblock %}

{% block heading %}<h1>Recent posts</h1>{% endblock %}

{% block content %}
    {% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
    </h2>
    <p class="small">
        Opublikowany {{ post.publish }} przez {{ post.author }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}